/* Color Scheme*/
.container-fluid {
    position: relative;
    min-height: 100vh;
}
main {
    padding-bottom: 10rem;
    margin-bottom: 3%;
    min-height: 75vh;    /* Footer height */
  }
footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /*margin-bottom: 3%;*/
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 10rem; 
}
.color1 {
    background: #96C1E0;
    font-size: 1.2em;
}
h1 {
    font-family:'Inter', sans-serif;
    font-size: 36pt;
    font-weight: bold;
}
h2 {
    font-family:'Inter', sans-serif;
    font-size: 30pt;
    font-weight:500;
}
h3 {
    font-family:'Inter', sans-serif;
    font-size: 30pt; 
}
h4 {
    font-family:'Inter', sans-serif;
    font-size: 18pt;
    font-weight:500; 
}
h5 {
    font-family:'Inter', sans-serif;
    font-size: 18pt;
}
h6 {
    font-family:'Inter', sans-serif;
    font-size: 12pt; 
}
p {
    font-family:'Inter', sans-serif;
    font-size: 11pt;
}
a {
    font-family:'Inter', sans-serif;
    font-size: 11pt;  
}
/* Button Styles */
.btn-outline-primary{
    margin-left: 5%;
    margin-top: 5%;
    color:#065A82;
    border-color:#065A82}
.btn-outline-primary:hover{color:#fff;background-color:#065A82;border-color:#065A82}
/* Menu Styles*/

.nav-link {
    margin-bottom:0%;
    font-weight: bolder;
    color: black;
}
.nav-link:hover {
    color: rgb(90, 90, 90);
}
.card {
    border-color: #A6BF73;
    border-width: 3px;
    margin-top: 5%;
}
.card-body img {
    width: 80%;
    height: auto;
}
.carousel {
    margin-top: 3%;
    height: 50%;
    width: auto;
}
.btn {
    margin-bottom: 3%;
}
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerinfo {
    width: 50%;
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 1%;
}
.footerinfo a {
    color: black;
}
.fa-file-download {
    margin-left: 5%;
}

.formdownload {
    padding-bottom: 4%;
}
iframe {
    width: 80%;
    min-width: 100px;
}
.site-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rball-logo {
    max-height: 5%;
    max-width: 5%;
    min-width: 40px;
    min-height: 40px;
    margin: 20px;
}
@media only screen and (max-width: 400px) {
    main {
        padding-bottom: 15rem;
    }
    footer {
        height: 15rem;
    }
    footer a {
        font-size: 10pt;
        margin: 0%;
    }
    h1 {
        font-size: 20pt;
    }
    .rball-logo {
        margin: 10px;
    }
  }